<div class="container">
    <h1 class="text-warning mt-4 mb-4"> Bienvenue dans notre boutique</h1>
    
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://res.cloudinary.com/hv9ssmzrz/image/fetch/c_fill,f_auto,h_488,q_auto,w_650/https://images-ca-1-0-1-eu.s3-eu-west-1.amazonaws.com/photos/original/736/produit-fraises-strawberries-3431122_1920.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero odio eos provident sunt voluptatum accusantium ullam blanditiis. Recusandae est maiores at ad dicta deserunt illum nam autem, suscipit odio aperiam.</p>
              <p class="card-text"><small class="text-muted">5 €/kg</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
